@font-face {
	font-family: "Titillium Web", sans-serif;
	src: http://www.google.com/fonts/specimen/Titillium+Web;
}


body {
	font-family: Titillium Web, sans-serif;
	color: white;
	text-align: center;
}

#remonter {
	position: fixed;
	bottom : 10px;
	right: 10px;
}

.container {
    max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 0px;
	padding-left: 0px;
}

header, section, footer {
	padding-right: 13%;
	padding-left: 13%;
	max-width: 100%;
}

#section1, #section2, #section3, #section4, #section5, #section7 {
	padding-top: 8%;
	padding-bottom: 8%;
}

#section3, #section4 {
	color: #3c4761;
}

p {
	margin-bottom: 0px;
}

h2 {
	letter-spacing: 3px;
}

h6 {
	margin-bottom: 10px;
	margin-top: 30px;
}

h6, h2 {
	white-space: initial;
	font-weight: 550;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}


button {
	margin-top: 60px;
	height: 60px;
	padding-right: 10px;
	padding-left: 10px;
	width: 250px;
	font-size: 1rem;
}


.barre {
	width: 10%;
	height: 4px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.form-control {
	background-color: #273a71;
	border-color: #273a71;
	border-radius: 2%;
}

#pSectionTitre {
	font-size: 1.1rem;
	margin-bottom: 8%;
}
/*////////////////////////////////////////////////////// Header //////////////////////////////////////////////////////*/

header{
	background-color: #87509c;
	padding-top: 60px;
}

header .nav {
	font-size: 0.7rem;
}

header a {
	color: #ffffff;
}

header a:focus {
	background-color: #643a79;
	color: #ffffff;
}

header a:hover {
	background-color: #643a79;
	color: #ffffff;
}

.enTete {
	padding-right: 60px;
	padding-left: 60px;
}

@media (min-width: 472px) and (max-width: 991px) {
	
	#logo {
		margin-bottom: 5%;
	}
	header .nav {
		justify-content: center;
	}
}

@media (max-width: 471px) {

	#logo {
		margin-bottom: 5%;
	}
	header .nav-item {
		width: 100%;
	}
}

/*////////////////////////////////////////////////////// Section 1 //////////////////////////////////////////////////////*/

#section1 {
	background-color: #87509c;
}

strong {
	font-size: 3rem;
}

#section1 button {
	background-color: #eb7d4b;
	border-color: #eb7d4b;
}

/*////////////////////////////////////////////////////// SECTION 2 //////////////////////////////////////////////////////*/

#section2 {
	background-color: #17c2a4;
}

#section2 .barre {
	background-color: #14a58c;
}

.pSection2Img p {
	font-size: 0.8rem;
}

.colonneBranding, .colonneDesign, .colonneDevelopment, .colonneRocket {
	max-width: 100%;
	height: 313px;
	width: 205px;
}

.rowPBranding, .rowPDesign, .rowPDevelopment, .rowPRocket {
	max-width: 100%;
	height: 115px;
}

.rowImgBranding, .rowImgDesign, .rowImgDevelopment, .rowImgRocket {
	height: 198px;
}

@media (min-width: 555px) and (max-width: 991px) {
	.colonneBranding, .colonneDesign {
		margin-bottom: 10%;
	}
}

@media (max-width: 554px) {
	.colonneBranding, .colonneDesign, .colonneDevelopment {
		margin-bottom: 10%;
	}
}
/*////////////////////////////////////////////////////// SECTION 3 //////////////////////////////////////////////////////*/

#section3 {
	background-color: #e7f1f8;

}

#section3 img {
	max-width: 100%;

}

#section3 .barre {
	background-color: #c8d9e5;
}

#nom p {
	margin-bottom: 10px;
	color: #30bae7;
}

#nom h6 {
	margin-bottom: 0px;
}

#descriptionPerso {
	font-size: 0.7rem;
}

@media (min-width: 768px) and (max-width: 991px) {
	.colonneAnne, .colonneKate {
		margin-bottom: 10%;
	}
}

@media (max-width: 767px) {
	.colonneAnne, .colonneKate, .colonneOlivia {
		margin-bottom: 10%;
	}
}

/*////////////////////////////////////////////////////// SECTION 4 //////////////////////////////////////////////////////*/

#section4 {
	background-color: #ffffff;
} 

#section4 img {
	max-width: 100%;
	height: 80%;
}

#section4 .barre {
	background-color: #dfe8ed;
}

@media (min-width: 768px) and (max-width: 991px) {
	.colonneBleu, .colonneRose {
		margin-bottom: 10%;
	}
}

@media (max-width: 767px) {
	.colonneBleu, .colonneRose, .colonneVert {
		margin-bottom: 10%;
	}
}


/*////////////////////////////////////////////////////// SECTION 5 //////////////////////////////////////////////////////*/

#section5 {
	background-color: #ffdd99;
	color: #393939;
}

#section5 .row p {
	margin-top: 30px;
	margin-bottom: 70px;
}

#section5 img {
	max-width: 100%;
}

#section5 .barre {
	background-color: #e5c37f;
}

#section5 .nav-item {
	font-size: 0.7rem;
	background-color: #000000;
	border-radius: 8%;
	margin-left: 1%;
	margin-right: 1%;
	width: 75px;
}

#section5 nav {
	margin-top:	10%; 
	margin-bottom: 10%;
}

#section5 button {
	background-color: #17c2a4;
	border-color: #17c2a4;
}

#section5 a:focus {
	background-color: #ffffff;
	color: #888888;

}

#section5 a {
	color: #888888;
}

/*////////////////////////////////////////////////////// SECTION 6 //////////////////////////////////////////////////////*/

#section6 {
	background-color: #d74680;
	padding-top: 8%;
	padding-bottom: 0%;
}

#pSection6Job1 {
	font-size: 0.8rem;
	margin-bottom: 30%;
	color: #fcd397;
}

#pSection6Job2 {
	font-size: 0.8rem;
	color: #fcd397;
	margin-bottom: 30%;
}

#pSection6 {
	font-size: 1rem;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #f7dae6;
	letter-spacing: 1px;;
}

#section6 .row {
	text-align: left;
}

#section6 h6 {
	line-height: 0px;
}

#section6 .barre {
	background-color: #b73c6d;
}

/*////////////////////////////////////////////////////// SECTION 7 //////////////////////////////////////////////////////*/

#section7 {
	background-color: #3c5499;
	padding-right: 20%;
	padding-left: 20%;
}

.inD, .inG {
	width: 49%;
	margin-bottom: 2%;
}

#section7 .barre {
	background-color: #273a71;
}

#section7 button, 
#section7 button:focus {
	background-color: #30bae7;
	border-color: #30bae7;
}

/*////////////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////////*/

footer {
	background-color: #344b8e;
}

footer ul {
	font-size: 20px;
	color: #ffffff;
}

footer nav {
	width: 85%;
}

footer .nav {
	padding-top: 5%;
	padding-bottom: 5%;
}

footer .nav-item {
	margin-right: 1%;
	margin-left: 1%;
}
